@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");

/* Overrides browser defaults for margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Sets body elements to flex column,sets default colours and sets pixels to 16 to avoid issues on browsers with adjusted font sizes */
body {
  display: flex;
  flex-direction: column;
  background-color: green;
  color: gray;
  font-size: 16px;
}

/* Removes default anchor decorations and sets deault colour to grey */
a {
  text-decoration: none;
  color: gray;
}

/* Logo and navigation section */
.logo-navigation-header {
  background-color: purple;
  position: fixed;
  top: 0;
  width: 100%;
  flex-wrap: wrap;
}

.logo {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

.logo a:hover {
  background-color: gray;
  color: black;
}

.navigation ul {
  background-color: black;
  padding-top: 8px;
  padding-bottom: 8px;
  list-style: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.navigation a:hover {
  background-color: gray;
  color: black;
}

/* Hero image section */
#hero-image-container {
  background-color: blue;
  margin-top: 100px;
  margin-bottom: 6px;
}

#hero-image img {
  width: 100%;
  margin-top: 4px;
}

/* About section */
#about-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: chartreuse;
}

#about-section h1 {
  background-color: darkgoldenrod;
  padding-top: 20px;
  padding-bottom: 16px;
  color: white;
  text-transform: uppercase;
  text-decoration-line: overline;
  text-align: center;
}

#about-section p {
  padding: 16px;
  text-transform: capitalize;
}

/* Host section */
#host-section {
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px;
}

#host-section-container {
  background-color: blue;
  padding: 8px;
  /* width: 50%; */
}

#host-section h2 {
  background-color: red;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 20px;
  color: white;
  text-transform: capitalize;
}

#host-picture-quote-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: aqua;
}

#host-quote {
  background-color: brown;
  width: 50%;
  padding: 16px;
  align-self: center;
}

#host-picture-container {
  background-color: cadetblue;
  width: 50%;
  align-self: center;
}

#host-picture-container img {
  width: 100%;
  border-radius: 90%;
}

#signature{
  font-family: 'Satisfy', cursive;
  
} 
