@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");

/* Keeps default font size to 16px on browsers with font settings changed */
html {
  font-size: 16px;
}

/* Overrides browser defaults for margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Sets body elements to flex column,sets default colours and sets pixels to 16 to avoid issues on browsers with adjusted font sizes */
body {
  display: flex;
  flex-direction: column;
  background-color: green;
  color: gray;
}

/* Removes default anchor decorations and sets deault colour to grey */
a {
  text-decoration: none;
  color: gray;
}

h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 1.1rem;
}

p {
  line-height: 1.25rem;
}

/* Logo and navigation section */
.logo-navigation-header {
  background-color: purple;
  position: fixed;
  top: 0;
  width: 100%;
  flex-wrap: wrap;
}

.logo {
  text-align: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.logo a:hover {
  background-color: gray;
  color: black;
}

.site-navigation {
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  list-style: none;
  font-size: 0.8rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.site-navigation a:hover {
  background-color: gray;
  color: black;
}

/* Hero image section */
#hero-image-container {
  background-color: blue;
  margin-top: 5.5rem;
  margin-bottom: 0.5rem;
}

#hero-image {
  width: 100%;
  margin-top: 0.25rem;
}

/* About section */
#about-section {
  background-color: chartreuse;
  line-height: 1.25rem;
}

#about-heading {
  background-color: darkgoldenrod;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

#about-info {
  padding: 2rem;
}

/* Host section */
#host-section {
  background-color: yellow;
  padding: 1rem;
}

#host-outer-container {
  background-color: blue;
  padding: 1rem;
  border-radius: 0.9rem;
}

#host-heading {
  background-color: red;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1.25rem;
  color: white;
  text-transform: capitalize;
}

#host-picture-quote-container {
  display: flex;
  flex-direction: row;
  background-color: aqua;
}

#host-quote {
  background-color: brown;
  width: 50%;
  padding: 1rem;
  align-self: center;
  font-family: "Satisfy", cursive;
}

#host-picture-container {
  background-color: cadetblue;
  width: 50%;
  align-self: center;
}

#host-picture {
  width: 100%;
  border-radius: 90%;
}

/* Footer social links */
.social-links-list {
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  font-size: 2rem;
  text-transform: uppercase;
}

.footer-top {
  padding-top: 1rem;
  color: white;
  text-align: center;
  text-transform: capitalize;
  font-size: 1rem;
}

.item-youtube {
  color: rgb(255, 0, 0);
}

.item-twitter {
  color: rgb(94, 94, 200);
}

.item-facebook {
  color: rgb(0, 0, 255);
}

.item-instagram {
  color: rgb(210, 80, 102);
}

/* Location page */
#location-section {
  background-color: firebrick;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#location-heading {
  background-color: red;
  margin-top: 10rem;
  margin-bottom: 5rem;
  padding-top: 1rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

#map-container {
  background-color: blue;
  text-align: center;
  margin-bottom: 5rem;
  align-self: center;
}

#address {
  background-color: orange;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  /* padding-bottom: 5rem; */
}

#address a {
  color: green;
  background-color: black;
  font-weight: bold;
}

#address a:hover {
  color: black;
  background-color: green;
}

/* Registration page */
#registration-container {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

#registration-status {
  background-color: white;
  color: red;
  padding: 0.5rem;
  text-transform: uppercase;
  text-align: center;
  border-radius: 1rem;
}

#registration-info {
  background-color: blue;
  padding: 0.5rem;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.25rem;
}

#registration-image-container {
  background-color: red;
  width: 75%;
  margin-bottom: 4rem;
}

#registration-form-container {
  background: url("../images/electric-head-on.jpg") center / cover;
  border-radius: 1rem;
}

#contact-form {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: bold;
  color: white;
}

.form-field {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: center;
  border-radius: 0.5rem;
}

#register-button {
  margin-top: -0.5rem;
  background-color: black;
  color: green;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border: none;
  font-style: oblique;
  font-weight: 550;
}

#register-button:hover {
  background-color: green;
  color: black;
}

/* Instructors page */
#instructors-heading {
  margin-top: 8rem;
  text-transform: uppercase;
  text-align: center;
  background-color: brown;
  color: white;
  padding: 0.5rem;
}

#instructors-container {
  margin-top: 3rem;
  background-color: blue;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructor-card {
  background-color: brown;
  width: 90%;
  margin-top: 2rem;
  text-align: center;
}

.instructor-info {
  padding: 2rem;
}

.videos {
  margin-top: 2rem;
}

.instructor-title {
  margin-top: 2rem;
}

/* Thank you page */

#thank-you-image {
  height: 100vh;
  width: 100%;
}

#thank-you-message {
  margin-top: 5.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  color: white;
}
/* Media queiries */

@media (min-width: 540px) {
  .logo {
    font-size: 1.75rem;
  }

  #hero-image-container {
    margin-top: 5.75rem;
    /* margin-bottom: 2rem; */
  }

  #host-section {
    display: flex;
    justify-content: center;
  }

  #host-outer-container {
    width: 75%;
  }

  #thank-you-message {
    margin-top: 5.75rem;
  }

  #registration-image-container {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .logo {
    font-size: 2rem;
  }

  .site-navigation {
    font-size: 1rem;
  }

  #hero-image-container {
    margin-top: 6.25rem;
  }
  #about-info {
    padding: 4rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  #host-outer-container {
    width: 60%;
  }

  #instructors-heading {
    margin-top: 9rem;
  }

  .instructor-card {
    width: 75%;
  }

  #map-container {
    width: 75%;
  }

  #thank-you-message {
    margin-top: 6.25rem;
  }
}

@media (min-width: 1024px) {
  .logo {
    font-size: 2.5rem;
  }

  #hero-image-container {
    margin-top: 7.25rem;
  }

  h1 {
    font-size: 1.75rem;
  }

  #about-info {
    padding: 6rem;
  }

  #host-outer-container {
    width: 50%;
  }

  .instructor-card {
    width: 50%;
  }

  #map-container {
    width: 60%;
  }

  #registration-image-container {
    width: 50%;
  }

  #registration-image-container {
    width: 40%;
  }

  #thank-you-message {
    margin-top: 7.25rem;
  }
}

@media (min-width: 1440px) {
  .logo {
    font-size: 2.75rem;
  }
  .site-navigation {
    font-size: 1.25rem;
  }

  #hero-image-container {
    margin-top: 7.5rem;
  }

  #host-outer-container {
    width: 40%;
  }

  #instructors-heading {
    margin-top: 10rem;
  }

  .instructor-card {
    width: 40%;
  }

  #map-container {
    width: 50%;
  }

  #registration-image-container {
    width: 30%;
  }

  #thank-you-message {
    margin-top: 7.5rem;
  }
}

@media (min-width: 1920px) {
  .logo {
    font-size: 3rem;
  }

  #hero-image-container {
    margin-top: 7.75rem;
  }

  p {
    line-height: 1.75rem;
  }

  #about-info {
    padding: 8rem;
  }

  #host-outer-container {
    width: 40%;
  }

  #map-container {
    width: 40%;
  }

  #registration-image-container {
    width: 25%;
  }

  #thank-you-message {
    margin-top: 7.75rem;
  }
}
